*,
*::after, 
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
main {
    display: flex;

} 
.primary__header {
    font-size: 3.5rem;
    font-family: 700;
}
.secondary__header {
    font-weight: 700;
    margin-bottom: 2rem;
}
.app__btn span {
    font-family: 700;
    font-size: 1.3rem;
    font-style: bond;
    color: white;
}
#task__description {
    height: 30rem;
}