:root {
    --primary-nav-color: #373B53;
    --primary-blue: #7C5DFA;
    --secondary-blue: #9277FF;
    --horizontal-line-grey: #494E6E;
    --primary-greyed-pink: #858BB2;

}
$primary-color: #373B53;